<div ng-include="'views/navbar1.html'"></div>

<div class="container">
  <div class="middle-box1">
    <h1>Contacts:</h1>
    <div class="row">
      <div class="col-sm-8">
        <ul>
          <li>phone1: 044 121-51-31</li>
          <li>phone2: 044 122-52-32</li>
          <li>phone3: 044 123-53-33</li>
          <li>phone4: 044 124-54-34</li>
          <li>phone5: 044 125-55-35</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde at perspiciatis ipsum amet delectus eius sequi pariatur quos. Similique, animi.</p>

      </div>
      <div class="col-sm-4"><img src="some" width="200px" height="200px" alt=""></div>
    </div>
  </div>
</div>